body {
    font-family: 'Montserrat', sans-serif;
    background-image: url("../images/funky-lines.png");
}

.wrapper {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
}

.name-header {
    width: 100%;
    background: linear-gradient(to right, rgb(173, 230, 209), rgb(49, 100, 81));
    padding: 20px auto;
    border-bottom: solid 6px rgb(50, 50, 50);
}

h1 {
    font-family: 'Lobster', cursive;
    color: rgb(39, 39, 39);
    font-size: 80px;
    padding-left: 30px;
    text-align: left;
}

#profile-pic {
    width: 230px;
    position: fixed;
    top: 150px;
    left: 50px;
    border-radius: 5px;
}

.contact-area {
    position: fixed;
    width: 230px;
    top: 430px;
    left: 50px;
    margin-top: 0;
    height: 240px;
    border-radius: 5px;
}

.li {
    text-decoration: none;
    color: rgb(50, 50, 50);
}

.li:hover {
    text-decoration: none;
    color: rgb(50, 50, 50);
}

li {
    font-family: 'Francois One', sans-serif;
    padding-top: 20px;
    font-size: 34px;
    text-align: center;
    vertical-align: center;
    font-weight: bold;
}

.email {
    font-size: 18px;
}

.card {
    border: solid 1.5px rgb(110, 110, 110);
    float: left;
    margin: 10px;
    height: 400px;
}

.card-img-top {
    width: 285px;
    height: 159px;
    border-bottom: solid 1.5px rgb(110, 110, 110);
}

footer {
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    background: rgb(173, 230, 209);
    border-top: solid 3px rgb(53, 53, 53);
    height: 30px;
}

.megan-content {
    padding-top: 130px;
    padding-bottom: 50px;
}

.banner {
    width: 200px;
    height: 150px;
    background-color: rgb(49, 100, 81);
    border: solid 4px white;
    margin: 20px;
    clear: both;
}

.btn-secondary {
    background: rgb(49, 100, 81);
    border: solid 1px rgb(32, 32, 32);
    width: 125px;
}

.btn-secondary:hover {
    background: rgb(87, 145, 125);
    border: solid 1px rgb(77, 76, 76);
}

.card-title {
    font-family: 'Francois One', sans-serif;
    font-size: 30px;
}

.btn-group {
    position: absolute;
    bottom: 10px;
}
.hide {
    display: none;
}

@media screen and (max-width: 1200px) {
    h1 {
        font-size: 40px;
        padding-top: 50px;
        text-align: left;
        padding-left: 100px;
        min-width: 385px;
    }
    .hide {
        display: show;
        color: rgb(194, 193, 193)
    }

    .name-header {
        height: 105px;
    }
    #profile-pic {
        width: 90px;
        position: fixed;
        top: 0;
        left: 0;
        border-radius: 5px;
        z-index: 1;
    }

    .contact-area {
        top: 105px;
        left: 0px;
        background: white;
        z-index: 1;
        height: 30px;
        width: 100%;
        padding-left: 30px;
        min-width: 440px;
        border-bottom: rgb(110, 110, 110) solid 1px;
       
    }

    li {
        display: inline;
        font-size: 20px;
   
    }

    .megan-content {
        padding-top: 140px;
    }

    #portfolio-grid {
        margin: 10px auto;
    }

    .email {
        font-size: 16px;
    }
}

@media screen and (max-width: 630px) {
    #portfolio-grid {
        margin-left: 50px;
    }
}